<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()

    <footer class="container">
        <div class="left-side">
            <p>&copy; @DateTime.Now.Year | YOUR COMPANY DEPARTMENT</p>
        </div>
    </footer>
</body>
</html>